:export {
  primary: #6b8f71;
  background: #272b2d;
  white: #fdfffc;
  cerulean: #006e90;
  celadon: #aad2ba;
  orange: #f18f01;
  gray: #c0c2c1;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #272b2d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fdfffc;
}

h2 {
  font-size: 28px;
}
@media (max-width: 1024px) {
  h2 {
    text-align: center;
  }
}

p {
  color: #c0c2c1;
}

ul {
  color: #fdfffc;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fdfffc;
}

.button {
  font-size: 14px;
  font-weight: 500;
  background-color: #aad2ba;
  border: 1px solid #aad2ba;
  border-radius: 24px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.5s ease, border-color 0.5s ease;
}

.button:hover {
  background-color: #6b8f71;
  border: 1px solid #6b8f71;
}

header {
  padding-top: 32px;
  padding-bottom: 8px;
}
@media (max-width: 1024px) {
  header {
    padding: 0px;
  }
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  max-width: 1024px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  header .navbar {
    padding: 0px 16px;
  }
}
header .navbar .logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
header .navbar .logo-image {
  height: 32px;
  padding-right: 4px;
}
header .navbar .nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 32px;
}
header .navbar .nav-list a:hover {
  color: #aad2ba;
  transition: color 0.5s ease;
}
@media (max-width: 480px) {
  header .navbar .nav-list {
    display: none;
  }
}
header .navbar .burger-icon {
  display: none;
}
@media (max-width: 480px) {
  header .navbar .burger-icon {
    display: block;
    width: 32px;
    height: 32px;
    filter: invert(100%) sepia(6%) saturate(2113%) hue-rotate(67deg) brightness(100%) contrast(114%);
  }
}

.home-page .nav-list a[href="index.html"] {
  color: #aad2ba;
}

.projects-page .nav-list a[href="projects.html"] {
  color: #aad2ba;
}

.about-page .nav-list a[href="about-me.html"] {
  color: #aad2ba;
}

.contact-page .nav-list a[href="contact.html"] {
  color: #aad2ba;
}

.main-container {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 112px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .main-container {
    padding: 16px;
  }
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
  margin-top: 96px;
}
@media (max-width: 1024px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 34px;
  }
}
.hero .hero-content {
  color: #fdfffc;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}
.hero .hero-content .hero-header {
  margin-bottom: 4px;
  font-size: 32px;
}
.hero .hero-content .hero-paragraph {
  font-size: 18px;
  margin-bottom: 24px;
}
.hero .hero-content .hero-paragraph .celadon-span {
  color: #aad2ba;
  font-family: "Verdana", sans-serif;
  font-weight: 500;
}
.hero .hero-content .hero-paragraph .celadon-span:hover {
  color: #f18f01;
  transition: color 0.5s ease;
}
@media (max-width: 1024px) {
  .hero .hero-content .hero-paragraph .celadon-span {
    color: #f18f01;
  }
}
.hero .laptop-image {
  max-width: 400px;
}
@media (max-width: 480px) {
  .hero .laptop-image {
    padding: 0 24px;
    width: 70%;
  }
}
@media (max-width: 1024px) {
  .hero .laptop-image {
    padding: 0 24px;
    width: 50%;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  gap: 48px;
}
@media (max-width: 1024px) {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin-top: -24px;
  }
}
.projects a:hover {
  color: #f18f01;
  transition: color 0.5s ease;
}
@media (max-width: 1024px) {
  .projects .projects-link {
    display: none;
  }
}
.projects .projects-link-mobile {
  text-align: center;
}
@media (min-width: 1024px) {
  .projects .projects-link-mobile {
    display: none;
  }
}
.projects .project-cards {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 480px) {
  .projects .project-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
}
.projects .project-cards .project {
  height: 250px;
  width: 200px;
  border: 1px solid #aad2ba;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
@media (max-width: 1024px) {
  .section-header {
    justify-content: center;
  }
}
.section-header h2 {
  position: relative;
  font-weight: 500;
  margin: 0;
}
.section-header h2:after {
  content: "";
  background-color: #aad2ba;
  width: calc(1040px - 100% - 32px);
  height: 1px;
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translate(100%, -50%);
}
@media (max-width: 1024px) {
  .section-header h2:after {
    display: none;
  }
}
.section-header h2#narrow-separator::after {
  width: calc(1040px - 100% - 112px);
}
@media (max-width: 1024px) {
  .section-header h2#narrow-separator::after {
    display: none;
  }
}

.projects-page .main-container {
  margin-top: 48px;
  margin-bottom: 360px;
}
.projects-page .projects {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.projects-page .solo-header {
  text-align: center;
  font-weight: 600;
}
.projects-page .section-header h2 {
  font-size: 24px;
}
.projects-page .project-cards {
  gap: 48px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 48px;
}
@media (max-width: 1024px) {
  .skills {
    align-items: center;
  }
}
.skills .skills-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
}
.skills .skills-content .skills-logo {
  width: 244px;
  flex-shrink: 0;
  padding-left: 6vw;
}
@media (max-width: 480px) {
  .skills .skills-content .skills-logo {
    display: none;
  }
}

/* Typing effect */
.typed {
  line-height: 35px;
  font-size: 20px;
  text-align: left;
  font-family: "Source Code Pro", monospace;
  color: #c0c2c1;
  white-space: pre-line;
  min-height: 300px;
  width: 300px;
  /* Fixed width for typed content */
}
.typed::after {
  content: "|";
  font-size: 20px;
  animation: blink 0.75s step-end infinite;
}
@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #fdfffc;
  }
}

/* About section */
.about {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 48px;
}
@media (max-width: 1024px) {
  .about {
    align-items: center;
  }
}
.about .about-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
}
@media (max-width: 480px) {
  .about .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
.about .about-content .about-text {
  max-width: 550px;
}
@media (max-width: 480px) {
  .about .about-content .about-text {
    text-align: center;
  }
}
.about .about-content .about-text p {
  margin-bottom: 36px;
}
.about .about-content .profile-pic {
  height: 250px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
@media (max-width: 480px) {
  .about .about-content .profile-pic {
    display: none;
  }
}

.about-page .main-container {
  margin-top: 48px;
  margin-bottom: 180px;
}

@media (max-width: 1024px) {
  .reach-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
.reach-out .reach-out-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  margin-top: 40px;
}
@media (max-width: 1024px) {
  .reach-out .reach-out-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    text-align: center;
  }
}
.reach-out .reach-out-content p {
  margin-top: 0px;
}
.reach-out .reach-out-content .contacts-card {
  border: 1px solid #c0c2c1;
  border-radius: 15px;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
}
.reach-out .reach-out-content .contacts-card h4 {
  color: #c0c2c1;
  font-weight: 600;
  width: 144px;
  text-align: center;
}
.reach-out .reach-out-content .contact {
  color: #c0c2c1;
  display: flex;
  align-items: center;
  padding-right: 8px;
}
.reach-out .reach-out-content .contact img {
  filter: invert(70%) sepia(99%) saturate(4%) hue-rotate(97deg) brightness(94%) contrast(88%);
  width: 32px;
  padding: 0 8px;
}
.reach-out .reach-out-content .contact img:hover {
  filter: invert(100%) sepia(6%) saturate(2113%) hue-rotate(67deg) brightness(100%) contrast(114%);
  transition: color 0.5s ease;
}

.contact-page .main-container {
  margin-top: 48px;
  margin-bottom: 584px;
}

footer {
  border-top: 1px solid #c0c2c1;
  padding: 24px 0;
  margin-top: 144px;
}
footer .footer-container {
  max-width: 1024px;
  margin: 0 auto;
}
footer .footer-container .copyright {
  color: #c0c2c1;
  text-align: center;
}



/*# sourceMappingURL=style.css.map */
