$primary: #6b8f71;
$background: #272b2d;
$white: #fdfffc;
$cerulean: #006e90;
$celadon: #aad2ba;
$orange: #f18f01;
$gray: #c0c2c1;

:export {
    primary: $primary;
    background: $background;
    white: $white;
    cerulean: $cerulean;
    celadon: $celadon;
    orange: $orange;
    gray: $gray;
}
